.popular-destinations {
  padding: 20px;
  background-color: #fff;
}

.destinations {
  display: flex;
  justify-content: space-between;
}

.destination {
  width: 15%;
  padding: 10px;
  background-color: #ddd;
  text-align: center;
}
